<!-- <div class="topbar">
  <h1>Spotifly</h1>
  <h3>The missing view of spotify</h3>
</div>
 -->
<div class="sidebar">
  <div class="logo">
    <img src="/assets/logo.png" />
  </div>

  <div class="navigation">
    <ul>
      <li>
        <a href="">
          <span class="icon">
            <mat-icon fontIcon="inventory_2"></mat-icon>
          </span>
          <span>
            Artists
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="content">
  <div class="topbar">
    <div class="slogan">
      <span>The missing view from Spotify</span>
    </div>
  </div>
  <div class="content-main">
    <app-albums></app-albums>
  </div>
</div>

